<template>
    <v-container class="mt-10 align-center">
        <v-row>
            <v-col>
                <h1 class="wellcome-text">Wellcome to <br /><strong>JoltBuddy</strong></h1>
            </v-col>
        </v-row>

        <v-row>
            <v-col class="d-flex justify-center">
                <v-card width="80%">
                    <v-card-title>Please login</v-card-title>

                    <v-form @submit="submit">
                        <v-card-item>
                            <v-text-field v-model="username" label="Username" prepend-icon="mdi-account-outline" variant="underlined" autocomplete="current-password" />
                            <v-text-field
                                v-model="password"
                                :append-icon="revealPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                :type="revealPassword ? 'text' : 'password'"
                                label="Password"
                                prepend-icon="mdi-form-textbox-password"
                                variant="underlined"
                                autocomplete="current-password"
                                @click:append="revealPassword = !revealPassword"
                            />
                        </v-card-item>

                        <v-card-actions>
                            <v-spacer />
                            <v-btn type="submit">Login</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-col>
        </v-row>
    </v-container>

    <v-snackbar v-model="errorSnackbar" :timeout="5000" color="red" elevation="24">
        <strong>Login failed!</strong>
        <br />
        Please check your credentials and try again!
    </v-snackbar>

    <v-snackbar v-model="forceLogoutSnackbar" :timeout="10000" color="orange" elevation="24">
        <strong>You where logged out!</strong>
        <br />
        Your session probably just expired, please try to log back in,
    </v-snackbar>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'

import { useUserStore } from '@stores/UserStore.ts'

const errorSnackbar = ref<boolean>(false)
const forceLogoutSnackbar = ref<boolean>(false)

const username = ref<string>('')
const password = ref<string>('')

const revealPassword = ref<boolean>(false)

const userStore = useUserStore()

onMounted(() => {
    if (userStore.forcedLogout) {
        forceLogoutSnackbar.value = true
        userStore.forcedLogout = false
    }
})

async function submit(e: SubmitEvent) {
    e.preventDefault()
    if (password.value === 'dummy') userStore.login(username.value, password.value, 1)

    const apiLoginUrl = import.meta.env.VITE_API_URL + '/auth/login'

    const response = await fetch(apiLoginUrl, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            username: username.value,
            password: password.value,
        }),
    })

    if (response.status !== 200) {
        errorSnackbar.value = true
    }

    const body = await response.json()

    userStore.login(username.value, body.token, body.id)
}
</script>

<style scoped>
.wellcome-text {
    text-align: center;
}
</style>
