<template>
    <v-app>
        <v-main>
            <v-window v-model="tab">
                <v-window-item value="main">
                    <HomeContent />
                </v-window-item>

                <v-window-item value="friends">
                    <v-container>
                        <v-row>
                            <v-col>
                                <h1>Friends</h1>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col>
                                <FriendsList />
                            </v-col>
                        </v-row>
                    </v-container>
                </v-window-item>

                <v-window-item value="settings">
                    <Settings />
                </v-window-item>
            </v-window>
        </v-main>

        <navigation-bar v-model="tab" />
    </v-app>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import HomeContent from '@/components/HomeContent.vue'
import NavigationBar from '@/components/NavigationBar.vue'
import Settings from '@/components/Settings.vue'

const tab = ref<string>()

import { useRegisterSW } from 'virtual:pwa-register/vue'

import { requestWithToken } from '@/utils.ts'
import { useGadgetStore } from '@stores/GadgetStore.ts'
import { replayMessage } from '@/GadgetManager.ts'
import { useMessageStore } from '@stores/MessageStore.ts'
import { Message } from '@/definitions/Message.ts'
import FriendsList from '@/components/FriendsList.vue'

const gadgetStore = useGadgetStore()
const messageStore = useMessageStore()

useRegisterSW({
    onRegistered(r) {
        console.info('SW registererd', r)
        initialiseState()
    },
})

function initialiseState() {
    // Check if desktop notifications are supported
    if (!('showNotification' in ServiceWorkerRegistration.prototype)) {
        console.warn("Notifications aren't supported.")
        return
    }

    // Check if user has disabled notifications
    // If a user has manually disabled notifications in his/her browser for
    // your page previously, they will need to MANUALLY go in and turn the
    // permission back on. In this statement you could show some UI element
    // telling the user how to do so.
    if (Notification.permission === 'denied') {
        console.warn('The user has blocked notifications.')
        return
    }

    // Check if push API is supported
    if (!('PushManager' in window)) {
        console.warn("Push messaging isn't supported.")
        return
    }

    navigator.serviceWorker.ready.then(function (serviceWorkerRegistration) {
        // Get the push notification subscription object
        serviceWorkerRegistration.pushManager
            .getSubscription()
            .then(function (subscription) {
                // If this is the user's first visit we need to set up
                // a subscription to push notifications
                if (!subscription) {
                    subscribe()

                    return
                }

                // Update the server state with the new subscription
                sendSubscriptionToServer(subscription)
            })
            .catch(function (err) {
                // Handle the error - show a notification in the GUI
                console.warn('Error during getSubscription()', err)
            })
    })

    navigator.serviceWorker.addEventListener('message', function (event) {
        console.log('Received a message from service worker: ', event.data)

        const message = JSON.parse(event.data.message)
        const data = message.options.data

        const gadget = gadgetStore.getByLinkedId(data.senderId)

        if (!gadget) {
            console.error('Could not find gadget for linkedId ' + data.senderId)
            return
        }

        messageStore.lastMessage = new Message(data.message, data.senderId)

        replayMessage(gadget, data.message)
    })
}

function subscribe() {
    navigator.serviceWorker.ready.then(async function (serviceWorkerRegistration) {
        // Get public key from server
        const apiKeyURL = import.meta.env.VITE_API_URL + '/push/key'
        const keyResponse = await fetch(apiKeyURL)

        if (keyResponse.status !== 200) {
            console.warn('Error during getSubscription(), request to get VAPID public key (' + apiKeyURL + ') failed with status ' + keyResponse.status)
        }

        const keyAsUint8Array = urlB64ToUint8Array(await keyResponse.text())

        serviceWorkerRegistration.pushManager
            .subscribe({ userVisibleOnly: true, applicationServerKey: keyAsUint8Array })
            .then(function (subscription) {
                console.log(subscription)
                // Update the server state with the new subscription
                return sendSubscriptionToServer(subscription)
            })
            .catch(function (e) {
                if (Notification.permission === 'denied') {
                    console.warn('Permission for Notifications was denied')
                } else {
                    console.error('Unable to subscribe to push.', e)
                }
            })
    })
}

const urlB64ToUint8Array = (base64String: string) => {
    const padding = '='.repeat((4 - (base64String.length % 4)) % 4)
    const base64 = (base64String + padding).replace(/-/g, '+').replace(/_/g, '/')
    const rawData = atob(base64)
    const outputArray = new Uint8Array(rawData.length)
    for (let i = 0; i < rawData.length; ++i) {
        outputArray[i] = rawData.charCodeAt(i)
    }
    return outputArray
}

function sendSubscriptionToServer(subscription: PushSubscription) {
    // Get public key and user auth from the subscription object
    const key = subscription.getKey ? subscription.getKey('p256dh') : ''
    const auth = subscription.getKey ? subscription.getKey('auth') : ''

    console.log(key)
    console.log(auth)
    console.log(subscription.endpoint)

    const apiRegisterUrl = import.meta.env.VITE_API_URL + '/push/register'

    return requestWithToken(
        apiRegisterUrl,
        'POST',
        {
            'Content-Type': 'application/json',
        },
        JSON.stringify({
            endpoint: subscription.endpoint,
            key: key ? btoa(String.fromCharCode.apply(null, Array.from(new Uint8Array(key)))) : '',
            auth: auth ? btoa(String.fromCharCode.apply(null, Array.from(new Uint8Array(auth)))) : '',
        })
    )
}
</script>

<style scoped>
.v-window {
    height: 100%;
}
</style>
