<template>
    <v-row>
        <v-col>
            <v-expansion-panels variant="popout">
                <FriendPanel v-for="friend in friends" :key="friend.id" :friend="friend" />
            </v-expansion-panels>
        </v-col>
    </v-row>
</template>

<script lang="ts" setup>
import FriendPanel from '@/components/FriendPanel.vue'
import { onMounted, ref } from 'vue'
import { requestWithToken } from '@/utils.ts'

const friends = ref()

onMounted(() => {
    const apiFriendsURL = import.meta.env.VITE_API_URL + '/auth/friends'

    requestWithToken(apiFriendsURL, 'GET')
        .then((response) => response.json())
        .then((friendsList) => {
            friends.value = friendsList
            console.log(friendsList)
        })
})
</script>
