<template>
    <v-expansion-panel>
        <v-expansion-panel-title>
            <h4 class="pl-4">{{ friend.username }}</h4>
        </v-expansion-panel-title>

        <v-expansion-panel-text>
            <v-row>
                <v-col>
                    <v-select label="Change linked gadget" :items="gadgetOptions" @update:model-value="changeLinkedGadget"></v-select>
                </v-col>
            </v-row>
        </v-expansion-panel-text>
    </v-expansion-panel>
</template>

<script lang="ts" setup>
import { Friend } from '@/definitions/Friend.ts'
import { useGadgetStore } from '@stores/GadgetStore.ts'
import { computed } from 'vue'
import { Gadget } from '@/definitions/Gadget.ts'

const props = defineProps({
    friend: {
        type: Friend,
        required: true,
    },
})

const gadgetStore = useGadgetStore()

const allGadgets = gadgetStore.gadgets

const gadgetOptions = computed(() => {
    return allGadgets.map((gadget) => {
        return { title: gadget.name, value: gadget.id }
    })
})

function changeLinkedGadget(value: string) {
    if (!props.friend?.id || !props.friend?.username) return

    let gadget = gadgetStore.getById(value)

    if (!gadget) return

    gadget = Gadget.fromRawGadget(gadget)

    gadgetStore.updateById(gadget.id, gadget)

    gadget?.setLinked(props.friend.id, props.friend.username)
}
</script>
