<template>
    <v-expansion-panel>
        <v-expansion-panel-title>
            <v-icon v-if="connected" icon="mdi-check-circle" color="success" />
            <v-icon v-else icon="mdi-lan-disconnect" color="warning" />
            <h4 class="pl-4">{{ gadget.name }}</h4>
        </v-expansion-panel-title>

        <v-expansion-panel-text>
            <v-row>
                <v-col>
                    <span>Linked to </span>
                    <span class="font-weight-medium"> {{ gadget.linkedName }} </span>
                </v-col>
            </v-row>

            <v-row>
                <v-col v-if="!messageStore.hasLastMessage"> You don't have a last message yet :/ </v-col>
                <v-col v-else>
                    Last message was send to you at {{ messageStore?.lastMessage?.timestamp }}
                    <v-btn :disabled="!connected" @click="emit('replay', messageStore.lastMessage)"> Replay </v-btn>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                    <v-icon icon="mdi-close-circle" color="error" @click="removeGadget" />
                </v-col>
                <v-col class="d-flex justify-end">
                    <v-btn v-if="!connected" variant="elevated" density="comfortable" @click="reconnect"> Reconnect </v-btn>
                    <v-btn v-else variant="tonal" density="comfortable" @click="disconnect"> Disconnect</v-btn>
                </v-col>
            </v-row>
        </v-expansion-panel-text>
    </v-expansion-panel>
</template>

<script lang="ts" setup>
import { Gadget } from '@/definitions/Gadget.ts'
import { onMounted, ref, watch } from 'vue'
import { watchOnce } from '@vueuse/core'
import { useGadgetStore } from '@stores/GadgetStore.ts'
import { useMessageStore } from '@stores/MessageStore.ts'

const props = defineProps({
    gadget: {
        type: Gadget,
        required: true,
    },
})

const emit = defineEmits(['reconnect', 'replay'])

const connected = ref<boolean>(false)

const gadgetStore = useGadgetStore()

onMounted(() => {
    // Typescript is sure that this condition is useless.
    // Unfortunately because of pinia state recreation weirdness, it is not.
    // eslint-disable-next-line @typescript-eslint/ban-ts-comment
    // @ts-ignore
    if (props.gadget?.getConnected) {
        registerWatcher()
    } else {
        watchOnce(
            () => props.gadget,
            () => registerWatcher()
        )
    }
})

function registerWatcher() {
    watch(
        () => props.gadget?.getConnected(),
        (value) => {
            connected.value = !!value
        },
        { immediate: true }
    )
}

function reconnect() {
    emit('reconnect')
}

function disconnect() {
    props.gadget?.disconnect()
}

function removeGadget() {
    try {
        props.gadget?.disconnect()
    } catch {
        console.warn('Could not disconnect already disconnected device')
    }
    gadgetStore.deleteById(props.gadget?.id as string)
}

const messageStore = useMessageStore()
</script>
