<template>
    <v-container>
        <v-row>
            <v-col>
                <h1>JoltBuddy Home</h1>
            </v-col>
        </v-row>

        <template v-if="!bluetoothSupported()">
            <v-row>
                <v-col>
                    <h4 style="color: red">Your device does not support the Web-Bluetooth API.</h4>
                    <small style="color: darkgrey">
                        I am sorry dear FireFox users, this time you are the ones left behind in the web technology race and it's not Apple who are the only ones not supporting an awesome standard.
                        What a twist right?!
                    </small>
                </v-col>
            </v-row>
        </template>

        <template v-else>
            <v-row>
                <v-col class="d-flex justify-space-evenly">
                    <v-btn variant="outlined" @click="startConnection"> Connect new Gadget</v-btn>
                </v-col>
            </v-row>
        </template>

        <v-row>
            <v-col>
                <v-expansion-panels variant="popout">
                    <GadgetPanel v-for="gadget in gadgets" :key="gadget.id" :gadget="gadget" @reconnect="startConnection" @replay="replay($event, gadget)" />
                </v-expansion-panels>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup lang="ts">
import { bluetoothSupported, connectToGadget, replayMessage } from '@/GadgetManager.ts'
import GadgetPanel from '@/components/GadgetPanel.vue'
import { useGadgetStore } from '@stores/GadgetStore.ts'
import { MessageManager } from '@/MessageManager.ts'
import { Message } from '@/definitions/Message.ts'
import { Gadget } from '@/definitions/Gadget.ts'

const gadgetStore = useGadgetStore()

const gadgets = gadgetStore.gadgets

const messageManager = new MessageManager()

async function startConnection() {
    await connectToGadget(messageManager.onDeviceValueNotification, messageManager)
}

function replay(message: Message, gadget: Gadget) {
    replayMessage(gadget, message.value)
}
</script>

<style scoped></style>
