<template>
    <v-bottom-navigation mode="shift" :model-value="modelValue" @update:model-value="updateActiveTab">
        <v-btn value="main">
            <v-icon icon="mdi-air-filter" />
            <span> Home </span>
        </v-btn>

        <v-btn value="friends">
            <v-icon icon="mdi-account-heart-outline" />
            <span> Friends </span>
        </v-btn>

        <v-btn value="settings">
            <v-icon icon="mdi-cog" />
            <span> Settings </span>
        </v-btn>
    </v-bottom-navigation>
</template>

<script setup lang="ts">
const props = defineProps({
    modelValue: {
        type: String,
        default: 'main',
    },
})

const emit = defineEmits(['update:modelValue'])

const updateActiveTab = (activeTab: string | unknown) => {
    if (!activeTab) activeTab = props.modelValue
    emit('update:modelValue', activeTab)
}
</script>

<style scoped></style>
