<template>
    <v-container>
        <v-row>
            <v-col>
                <h1>Settings</h1>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <h3>Hi, {{ userStore.name }}</h3>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-btn color="red" prepend-icon="mdi-logout" variant="elevated" @click="userStore.logout">Logout</v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup lang="ts">
import { useUserStore } from '@stores/UserStore.ts'
const userStore = useUserStore()
</script>

<style scoped></style>
