<template>
    <Login v-if="!userStore.isLoggedIn" />

    <template v-else>
        <Main />
    </template>

    <v-dialog v-model="needRefresh" transition="dialog-bottom-transition" width="auto">
        <template #default="{ isActive }">
            <v-card>
                <v-card-title>There is an update available!</v-card-title>
                <v-card-text>
                    There is a new update to <strong>JoltBuddy</strong> available!
                    <br />
                    It brings lots of improvements and excitement is guaranteed!
                    <br />
                    Please consider updating, it just takes a few seconds
                    <v-icon icon="mdi-heart-multiple" color="primary"></v-icon>
                </v-card-text>
                <v-card-actions class="justify-end">
                    <v-btn variant="text" color="secondary" @click="isActive.value = false">Close</v-btn>
                    <v-btn variant="text" color="primary" :loading="loading" @click="update">Update</v-btn>
                </v-card-actions>
            </v-card>
        </template>
    </v-dialog>
</template>

<script setup lang="ts">
import Login from '@/views/Login.vue'

import { useUserStore } from '@stores/UserStore.ts'
import Main from '@/views/Main.vue'
import { ref } from 'vue'
import { useRegisterSW } from 'virtual:pwa-register/vue'

const userStore = useUserStore()

const { needRefresh, updateServiceWorker } = useRegisterSW()

const loading = ref(false)
function update() {
    loading.value = true
    updateServiceWorker(true)
}
</script>
